@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@layer theme, base, antd, components, utilities;

@theme {
  --color-primary: #8fc9ff;
  --color-secondary: #888;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1923;
  --color-success-pastel: #dcfce7;
  --color-info-pastel: #e0f2fe;
  --color-processing-pastel: #fffbe6;
}

.topbar {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar.topbar-scrolled {
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #fff;
}

.footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  background-color: #333;
}

.ant-table-placeholder>td {
  border-bottom: none !important;
}

.layout {
  min-height: 70vh;
}