@import 'table.css';

* {
  margin: 0;
}

body {
  background-color: #fff;
}

.px-2 {
  padding-top: 8px;
}

.topbar {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  background-color: #333;
}

.ant-table-placeholder>td {
  border-bottom: none !important;
}