body {
    background-color: #fff;
}
.px-2 {
    padding-top: 8px;
}

.topbar {
    background-color: #fff;
    position: 'sticky';
    top: 0;
    z-index: 100;
    width: '100%';
    background: '#fff';
    border-bottom: '1px solid #f0f0f0';
    padding-inline: 16;
    display: 'flex';
    align-items: 'center';
    justify-content: 'space-between'
}

.avatar {
    background-color: #333;
}