.comment-item {
  padding: 16px;
  border-bottom: 1px solid var(--ant-border-color-split);
  background-color: white;
  border-radius: 8px;
  margin-bottom: 12px;
}

.comment-item .content {
  margin: 8px 0;
}

.comment-item .actions {
  margin-top: 4px;
  display: flex;
}

.comment-item .action {
  font-size: 13px;
  color: #8c8c8c;
}

.comment-item .action:hover {
  color: var(--ant-primary-color);
}