SECRET_KEY=<your secret key here>
DB_PASSWORD=<your database password here>
DB_USER=<your database user here>
DB_HOST=<your database host here>
DB_PORT=<your database port here>
DB_NAME=<your database name here>

ADMIN_EMAIL=<your admin email here>
ADMIN_PASSWORD=<your admin password here>
